<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добрый день, <%= @user.name %></h1>
    <p>
      Возможно, Вам будут интересны новые фотографии.
    </p>
    <p>
      Чтобы их посмотреть, перейдите по ссылке: <%= link_to @post.caption,
        post_url(@post) %>.
    </p>
    <p>Приятного дня!</p>

    <p>Письмо создано автоматически, не отвечайте на него.</p>
    </p>

  </body>
</html>
