// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.darkline {
  background-color: #474343;
}

#addComment {
  h4 {
    margin: 0 0 8px 0;
  }
  padding: 8px 0;
  margin-top: 40px;
  background-color: #CDC9C9;
}

#new_comment {
  textarea {
    width: 90%;
  }
}

.comment-wrapper {
  border: 1px solid #4C5959;
  margin-bottom: 2px;
  background-color: #CDC9C9;
}

.comment {
  // margin-top: 10px;
  // border-bottom: 1px solid #4C5959;
  p {
    // max-width: 640px;
  }
}

.max-width670 {
  max-width: 672px;
}

.comment-counter {
  float: right;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
}

.comment-up {
  float: right;
}

.comment-down {
  float: right;
}
