.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.post {
  background-color: #444A4F;
  border-color: #0B4376;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 40px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
  color: white;
}

.first-post {
  background-color: #444A4F;
  border-color: #0B4376;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 40px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
  h4 {
    padding: 8px 0 12px 8px;
    margin-bottom: 0px;
  }
  img {
    width: 100%;
  }
}

.post img {
  background-color: #444A4F;
  width: 100%;
}

.caption {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
}

.form-wrapper {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
  margin: 0 0 20px 0;
}

.counter {
  display: inline;
  right: 0px;
  position: relative;
  float: right;
  height: 40px;
  //background: #2C7997 image-url('btn_gray.png');
  background:    #acafb1;
  background:    -webkit-linear-gradient(#acafb1, #0c0c0c);
  background:    linear-gradient(#acafb1, #0c0c0c);
  border-radius: 5px;
  color:         #fff;
  display:       inline-block;
  width:         60px;
  height:        25px;
  font:          normal 700 9px/25px "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
  margin: 1px;
}

.counter.green {
  // http://dabuttonfactory.com/
  background:    #6aa84f;
  background:    -webkit-linear-gradient(#6aa84f, #0c0c0c);
  background:    linear-gradient(#6aa84f, #0c0c0c);
  border:        1px solid #fff;
  border-radius: 5px;
  color:         #fff;
  display:       inline-block;
  width:         60px;
  height:        25px;
  font:          normal 700 24px/25px "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
}

.counter.gold {
  background:    #dadb26;
  background:    -webkit-linear-gradient(#c09632, #dadb26 50%, #c09632);
  background:    linear-gradient(#c09632, #dadb26 50%, #c09632);
  border:        1px solid #fff;
  border-radius: 5px;
  color:         #fff;
  display:       inline-block;
  width:         60px;
  height:        25px;
  font:          normal 700 24px/25px "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
}

.btn_vote {
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 3px;
  color:         #fff;
  display:       inline-block;
  width:         25px;
  height:        25px;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
  display: inline;
  float: right;
  border: none;
  margin: 1px 1px 1px 1px;
}

#top-images {
  background-color: #444A4F;
  border-color: #0B4376;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  color: white;
  text-align: center;
  img {
    width: 100%;
  }
  .image {
    border-color: #0B4376;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
    color: white;
  }
}

@media (min-width: 769px) {
  .counter-top-images {
    display: inline;
    background:    #acafb1;
    background:    -webkit-linear-gradient(#acafb1, #0c0c0c);
    background:    linear-gradient(#acafb1, #0c0c0c);
    border-radius: 5px;
    display:       inline-block;
    width:         30px;
    height:        25px;
    font:          normal 700 9px/25px "Calibri", sans-serif;
    text-shadow:   1px 1px 0 #000;
  }
}

@media (max-width: 768px) {
  .counter-top-images {
    text-shadow:   1px 1px 0 #000;
    font-family: verdana,arial,helvetica,sans-serif;
  }
}

#add-post {
  position: relative;
  min-width: 300px;
}

.voted_pos {
  background: #449D44;
}

.voted_neg {
  background: red;
}

.after-post {
  min-height: 50px;
  a {
    color: #96989A;
    right: 15px;
  }
  .btn {
    margin-right: 10px;
    color: white;
  }
}

#new_post {
  background-color: #777E84;
  padding: 40px;
  border-radius: 4px;
  border-color: #0B4376;
  border-style: solid;
  border-width: 1px;
}

.float-left {
  float: left;
}

.who_posted {
  padding-top: 3px;
}

mark.blue {
  color:#8EBACC;
  background: none;
}

#back-to-top-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: image-url('arrow_green_up.png');
  border-radius: 25px;
  transition: opacity ease 0.5s;
  -moz-transition: opacity 0.5s linear;
}

#back-to-top-link:hover {
  background-image: image-url('arrow_gold_up.png');
}
