#new_user {
  a {
    font-size: 12px;
    line-height: inherit;
  }
  padding: 20px;
  margin: 5px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
}

#btn_via_facebook {
  background-color: #3a579a;
	display: block;
	line-height: 28px;
  color: #fff !important;
  text-transform: uppercase;
  font: 12px, 'proxima-nova', 'helvetica neue', helvetica, arial, sans-serif;
  border-radius: 3px;
  text-decoration: none;
  span {
    line-height: 28px;
    display: table-cell;
    text-align: center;
  }
}

#btn_via_facebook:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.08) 100%);
}

.fb-icon {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  font-size: 16px;
  min-width: 32px;
}

.fb-icon-text {
  width: 100%;
}

.field .login-help {
  color: #f00;
  font-size: 12px;
  padding-top: 2px;
}

#login-h2 {
  color: #4a5e82;
  font-size: 24px;
  margin: 0 auto;
  padding: 10px 10px 30px 0;
  position: relative;
}

#login-h2:after {
  box-shadow: 0px 2px 3px -2px #4a5e82;
  content: '';
  display: block;
  height: 8px;
  transition: all ease 0.5s;
  width: 80px;
  z-index: -1;
}

#login-h2:hover:after {
  left: 0;
  width: 120px;
}

.form-control.error {
  border: 2px solid #f00;
}

.form-control.correct {
  border: 2px solid green;
}

.login-help {
  margin-top: -15px;
}

.field label {
  padding-left: 2px;
  font-weight: normal;
}
