#new_user {
  padding: 20px;
  margin: 100px auto;
  max-width: 330px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
}

#btn_via_facebook {
	display: block;
	width: 177px;
	padding: 5px 0;
	font: 14px Helvetica,Arial,sans-serif;
}
